# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.venv/
.venv_mkdocs/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Variables d'environnement
.env
.env.local

# Docker
*.log

# MkDocs
site/
site-gh-pages/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
